body {
	background-image: url(https://images.unsplash.com/photo-1545276133-d91bcba0803c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1575&q=80);
	background-repeat: no-repeat;
	background-size: 1200px 900pxs;
}

p{
	color: skyblue;
}
div{
	text-decoration-color: indianred;
}
p{
	text-align: center;
	font-size: 3em;
}  


 img{
 	margin-top: 10px;
 	margin-bottom: 10px;
 	
 }

 img:{
 	width: 150px;
 	height: 150px;
 	transition: all 1s;

 }

 img:hover{
 	transform: scale(1.1);
 }
